# Ignore micro editor backups and buffers for all mainrig machines
**/mainrig-MS-*/.config/micro/backups/**
**/mainrig-MS-*/.config/micro/buffers/**
**/mainrig-MS-*/.config/sway/scripts/**
**/mainrig-MS-*/micro/backups/**

# Ignore sensitive wallpapers
**/mainrig-MS-*/.config/sway/wallpaper/unredacted/**

# Ignore specific system/temp files
root
tmp.code

# General OS/Editor noise
.DS_Store
*.tmp
*.bak
