mainrig-MS-7D51/.config/micro/backups/
mainrig-MS-7D51/.config/micro/buffers/
mainrig-MS-7D51/.config/sway/wallpaper/unredacted/
mainrig-MS-7D51/micro/backups/
mainrig-MS-7E49/.config/micro/backups/
mainrig-MS-7E49/.config/micro/buffers/
mainrig-MS-7E49/.config/sway/wallpaper/unredacted/
tmp.code
root


