[Unit]
Description=Keyboard and Mouse Cleaning Lock Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/blu/scripts/clean_kb_mouse.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
