[Unit]
Description=Kiwix Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/blu/.local/share/kiwix-desktop
ExecStart=/usr/bin/bash -c "/usr/bin/kiwix-serve --port=20623 --address=127.0.0.1 --urlRootLocation /kiwix/ /home/blu/.local/share/kiwix-desktop/*.zim"
Restart=on-failure

[Install]
WantedBy=default.target
