[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/blu/OpenTaiko/OpenTaiko_start.sh
Name=Start_OpenTaiko_Custom
Keywords=taiko, opentaiko
Icon=/home/blu/icons/tmp/optk.png
